* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 990px;
  height: 700px;
  margin: 5px;
  background-color: green;
}

.row{
  width: 970px;
  background-color: blue;
}

.box{
  display: inline-block;
}

.discount{
  display: inline;
}
