* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 990px;
  height: 700px;
  margin: 5px;
  background-color: green;
}

/* Inizio section one */
.row{
  width: 970px;
  background-color: blue;
}

.box{
  display: inline-block;
  position: relative;
}

.discount{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.box:nth-child(even) .discount {
  background-color: red;
}

.heart{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: red;
  font-size: 25px;
  display: none;
}

.heart:hover{
  display: block;
  color: red;
}
